<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Cars</title>
    <style> 
    thead {
        background: gray;
        color: White;
    }
    </style>
  </head>
  <body>
    <div class="container">
        <div> 
            <table class="table table-fluid" id="myTable">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Package</th>
                        <th>Color</th>
                        <th>Year</th>
                        <th>Category</th>
                        <th>Milage (mi)</th>
                        <th>Price (cents)</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
            <% data.forEach(cars => { %> 
                <tr>
                    <td><%= cars.Make %></td>
                    <td><%= cars.Model %></td>
                    <td><%= cars.Package %></td>
                    <td><%= cars.Color %></td>
                    <td><%= cars.Year %></td>
                    <td><%= cars.Category %></td>
                    <td><%= cars.Mileage %></td>
                    <td><%= cars.Price %></td>
                    <td><%= cars.id %></td>
                </tr>   
            <% }); %>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>